<div class='row'>
	<div class='col s6 offset-s3'>
		<h1>Забыли пароль?</h1>
		{{#if error}}
			<p class='alert'>{{error}}</p>
		{{/if}}
		<form action='/auth/reset' method='POST'>
			<div class='input-field'>
				<input
					name='email'
					id='email'
					type='email'
					class='validate'
					required
				/>
				<label for='email'>Email</label>
				<span
					class='helper-text'
					data-error='Введите корректный email'
				></span>
			</div>

			<input type='hidden' name='_csrf' value='{{csrf}}' />

			<button class='btn btn-primary' type='submit'>Сбросить пароль</button>
		</form>
	</div>
</div>